In [3]:
import functools

import numpy as np
import tensorflow as tf

In [4]:
TRAIN_DATA_URL = "https://storage.googleapis.com/tf-datasets/titanic/train.csv"
TEST_DATA_URL = "https://storage.googleapis.com/tf-datasets/titanic/eval.csv"

train_file_path = tf.keras.utils.get_file("train.csv", TRAIN_DATA_URL)
test_file_path = tf.keras.utils.get_file("eval.csv", TEST_DATA_URL)

In [5]:
np.set_printoptions(precision=3,suppress = True)

In [6]:
LABEL_COLUMN = 'survived'
LABELS = [0,1]

In [7]:
def get_dataset(file_path,**kwargs):
    dataset = tf.data.experimental.make_csv_dataset(file_path,
        batch_size = 5,
        label_name = LABEL_COLUMN,
        na_value="?",
        num_epochs = 1,
        ignore_errors=True,
        **kwargs)
    return dataset
raw_train_data = get_dataset(train_file_path)
raw_test_data = get_dataset(test_file_path)

In [8]:
def show_batch(dataset):
    for batch,label in dataset.take(1):
        for key,value in batch.items():
            print("{:20s}: {}".format(key,value.numpy()))

In [9]:
show_batch(raw_train_data)

sex                 : [b'female' b'female' b'female' b'male' b'female']
age                 : [19. 22. 28. 29. 33.]
n_siblings_spouses  : [1 0 1 0 0]
parch               : [0 2 0 0 2]
fare                : [ 7.854 49.5   24.    30.    26.   ]
class               : [b'Third' b'First' b'Second' b'First' b'Second']
deck                : [b'unknown' b'B' b'unknown' b'D' b'unknown']
embark_town         : [b'Southampton' b'Cherbourg' b'Cherbourg' b'Southampton' b'Southampton']
alone               : [b'n' b'n' b'n' b'y' b'n']

In [10]:
# If the file you are working with does not contain the column names 
#in the first line, pass them in a list of strings to the column_names
# argument in the make_csv_dataset function.
CSV_COLUMNS = ['survived', 'sex', 'age', 'n_siblings_spouses', 'parch', 'fare', 'class', 'deck', 'embark_town', 'alone']

temp_dataset = get_dataset(train_file_path, column_names=CSV_COLUMNS)

show_batch(temp_dataset)

sex                 : [b'male' b'male' b'female' b'male' b'male']
age                 : [60. 28. 28. 28. 28.]
n_siblings_spouses  : [0 1 1 0 0]
parch               : [0 2 2 0 0]
fare                : [26.55 23.45 23.45  7.75  7.75]
class               : [b'First' b'Third' b'Third' b'Third' b'Third']
deck                : [b'unknown' b'unknown' b'unknown' b'unknown' b'unknown']
embark_town         : [b'Southampton' b'Southampton' b'Southampton' b'Queenstown' b'Queenstown']
alone               : [b'y' b'n' b'n' b'y' b'y']

In [11]:
SELECT_COLUMNS = ['survived', 'age', 'n_siblings_spouses', 'class', 'deck', 'alone']

temp_dataset = get_dataset(train_file_path, select_columns=SELECT_COLUMNS)

show_batch(temp_dataset)

age                 : [39. 28. 28. 33. 21.]
n_siblings_spouses  : [0 0 0 1 0]
class               : [b'First' b'Third' b'Third' b'Third' b'Third']
deck                : [b'A' b'unknown' b'unknown' b'unknown' b'unknown']
alone               : [b'y' b'y' b'y' b'n' b'y']

In [14]:
#Data preprocessing
SELECT_COLUMNS = ['survived', 'age', 'n_siblings_spouses', 'parch', 'fare']
DEFAULTS = [0,0.0,0.0,0.0,0.0]
temp_dataset = get_dataset(train_file_path,
                          select_columns = SELECT_COLUMNS,
                          column_defaults = DEFAULTS)
show_batch(temp_dataset)

age                 : [24. 18. 28. 39. 53.]
n_siblings_spouses  : [0. 0. 3. 0. 2.]
parch               : [0. 0. 1. 0. 0.]
fare                : [13.    11.5   25.467  7.925 51.479]

In [15]:
example_batch, labels_batch = next(iter(temp_dataset))

In [18]:
def pack(features,label):
    return tf.stack(list(features.values()),axis = -1),label

In [19]:
packed_dataset = temp_dataset.map(pack)

for features,labels in packed_dataset.take(1):
    print(features.numpy())
    print()
    print(labels.numpy())

[[21.     0.     0.    77.958]
 [65.     0.     0.    26.55 ]
 [28.     8.     2.    69.55 ]
 [ 7.     4.     1.    39.688]
 [37.     1.     0.    26.   ]]

[1 0 0 0 0]

In [20]:
show_batch(raw_train_data)

sex                 : [b'male' b'female' b'male' b'male' b'male']
age                 : [28. 18. 28. 28. 28.]
n_siblings_spouses  : [0 0 0 0 0]
parch               : [0 1 0 0 0]
fare                : [26.55  23.    13.863  8.05   8.663]
class               : [b'First' b'Second' b'Second' b'Third' b'Third']
deck                : [b'unknown' b'unknown' b'unknown' b'unknown' b'unknown']
embark_town         : [b'Southampton' b'Southampton' b'Cherbourg' b'Southampton' b'Southampton']
alone               : [b'y' b'n' b'y' b'y' b'y']

In [21]:
example_batch, labels_batch = next(iter(temp_dataset))

In [22]:
class PackNumericFeatures(object):
    def __init__(self,names):
        self.names = names
        
    def __call__(self,features,labels):
        numeric_features = [features.pop(name) for name in self.names]
        numeric_features = [tf.cast(feat,tf.float32) for feat in numeric_features]
        numeric_features = tf.stack(numeric_features,axis = -1)
        features['numeric'] = numeric_features
        
        return features,labels

In [23]:
NUMERIC_FEATURES = ['age','n_siblings_spouses','parch', 'fare']

packed_train_data = raw_train_data.map(
    PackNumericFeatures(NUMERIC_FEATURES))

packed_test_data = raw_test_data.map(
    PackNumericFeatures(NUMERIC_FEATURES))

In [24]:
show_batch(packed_train_data)

sex                 : [b'male' b'male' b'male' b'female' b'male']
class               : [b'Third' b'Second' b'First' b'Second' b'Third']
deck                : [b'unknown' b'unknown' b'C' b'unknown' b'unknown']
embark_town         : [b'Southampton' b'Southampton' b'Southampton' b'Southampton' b'Queenstown']
alone               : [b'y' b'y' b'y' b'n' b'y']
numeric             : [[ 38.      0.      0.      7.05 ]
 [ 30.      0.      0.     10.5  ]
 [ 28.      0.      0.    221.779]
 [ 24.      2.      3.     18.75 ]
 [ 28.      0.      0.      7.829]]

In [25]:
example_batch, labels_batch = next(iter(packed_train_data))

In [27]:
#DAta Normalization
import pandas as pd
desc = pd.read_csv(train_file_path)[NUMERIC_FEATURES].describe()
desc

              age  n_siblings_spouses       parch        fare
count  627.000000          627.000000  627.000000  627.000000
mean    29.631308            0.545455    0.379585   34.385399
std     12.511818            1.151090    0.792999   54.597730
min      0.750000            0.000000    0.000000    0.000000
25%     23.000000            0.000000    0.000000    7.895800
50%     28.000000            0.000000    0.000000   15.045800
75%     35.000000            1.000000    0.000000   31.387500
max     80.000000            8.000000    5.000000  512.329200

In [28]:
MEAN = np.array(desc.T['mean'])
STD = np.array(desc.T['std'])

In [29]:
def normalize_numeric_data(data,mean,std):
    return (data-mean)/std

In [30]:
# See what you just created.
normalizer = functools.partial(normalize_numeric_data, mean=MEAN, std=STD)

numeric_column = tf.feature_column.numeric_column('numeric', normalizer_fn=normalizer, shape=[len(NUMERIC_FEATURES)])
numeric_columns = [numeric_column]
numeric_column

NumericColumn(key='numeric', shape=(4,), default_value=None, dtype=tf.float32, normalizer_fn=functools.partial(<function normalize_numeric_data at 0x000002A485D63DC0>, mean=array([29.631,  0.545,  0.38 , 34.385]), std=array([12.512,  1.151,  0.793, 54.598])))

In [31]:
example_batch['numeric']

<tf.Tensor: shape=(5, 4), dtype=float32, numpy=
array([[28.   ,  0.   ,  0.   , 13.   ],
       [40.   ,  0.   ,  0.   , 31.   ],
       [23.   ,  0.   ,  0.   ,  7.925],
       [28.   ,  0.   ,  0.   ,  7.05 ],
       [33.   ,  0.   ,  0.   ,  7.775]], dtype=float32)>

In [32]:
numeric_layer = tf.keras.layers.DenseFeatures(numeric_columns)
numeric_layer(example_batch).numpy()

array([[-0.13 , -0.474, -0.479, -0.392],
       [ 0.829, -0.474, -0.479, -0.062],
       [-0.53 , -0.474, -0.479, -0.485],
       [-0.13 , -0.474, -0.479, -0.501],
       [ 0.269, -0.474, -0.479, -0.487]], dtype=float32)

In [33]:
#Categorical data
CATEGORIES = {
    'sex': ['male', 'female'],
    'class' : ['First', 'Second', 'Third'],
    'deck' : ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'],
    'embark_town' : ['Cherbourg', 'Southhampton', 'Queenstown'],
    'alone' : ['y', 'n']
}

In [34]:
categorical_columns = []
for feature, vocab in CATEGORIES.items():
  cat_col = tf.feature_column.categorical_column_with_vocabulary_list(
        key=feature, vocabulary_list=vocab)
  categorical_columns.append(tf.feature_column.indicator_column(cat_col))

In [35]:
# See what you just created.
categorical_columns

[IndicatorColumn(categorical_column=VocabularyListCategoricalColumn(key='sex', vocabulary_list=('male', 'female'), dtype=tf.string, default_value=-1, num_oov_buckets=0)),
 IndicatorColumn(categorical_column=VocabularyListCategoricalColumn(key='class', vocabulary_list=('First', 'Second', 'Third'), dtype=tf.string, default_value=-1, num_oov_buckets=0)),
 IndicatorColumn(categorical_column=VocabularyListCategoricalColumn(key='deck', vocabulary_list=('A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'), dtype=tf.string, default_value=-1, num_oov_buckets=0)),
 IndicatorColumn(categorical_column=VocabularyListCategoricalColumn(key='embark_town', vocabulary_list=('Cherbourg', 'Southhampton', 'Queenstown'), dtype=tf.string, default_value=-1, num_oov_buckets=0)),
 IndicatorColumn(categorical_column=VocabularyListCategoricalColumn(key='alone', vocabulary_list=('y', 'n'), dtype=tf.string, default_value=-1, num_oov_buckets=0))]

In [40]:
categorical_layer = tf.keras.layers.DenseFeatures(categorical_columns)
print(categorical_layer(example_batch).numpy()[0])

[1. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1.]

In [37]:
#Combined preprocessing layer
preprocessing_layer = tf.keras.layers.DenseFeatures(categorical_columns+numeric_columns)

In [38]:
print(preprocessing_layer(example_batch).numpy()[0])

[ 1.     0.     0.     1.     0.     0.     0.     0.     0.     0.
  0.     0.     0.     0.     0.     0.     0.     0.    -0.13  -0.474
 -0.479 -0.392  0.     1.   ]

In [41]:
#Build the model
model = tf.keras.Sequential([
    preprocessing_layer,
    tf.keras.layers.Dense(128,activation="relu"),
    tf.keras.layers.Dense(128,activation="relu"),
    tf.keras.layers.Dense(1),
])

model.compile(
loss = tf.keras.losses.BinaryCrossentropy(from_logits=True),
optimizer='adam',
metrics=['accuracy'])

In [42]:
train_data = packed_train_data.shuffle(500)
test_data = packed_test_data

In [43]:
model.fit(train_data,epochs=20)

Epoch 1/20
126/126 [==============================] - 1s 7ms/step - loss: 0.5156 - accuracy: 0.7273
Epoch 2/20
126/126 [==============================] - 0s 1ms/step - loss: 0.4243 - accuracy: 0.8166
Epoch 3/20
126/126 [==============================] - 0s 2ms/step - loss: 0.4034 - accuracy: 0.8278
Epoch 4/20
126/126 [==============================] - 0s 2ms/step - loss: 0.3977 - accuracy: 0.8357
Epoch 5/20
126/126 [==============================] - 0s 1ms/step - loss: 0.3881 - accuracy: 0.8309
Epoch 6/20
126/126 [==============================] - 0s 1ms/step - loss: 0.3756 - accuracy: 0.8437
Epoch 7/20
126/126 [==============================] - 0s 1ms/step - loss: 0.3645 - accuracy: 0.8469
Epoch 8/20
126/126 [==============================] - 0s 1ms/step - loss: 0.3592 - accuracy: 0.8469
Epoch 9/20
126/126 [==============================] - 0s 1ms/step - loss: 0.3540 - accuracy: 0.8437
Epoch 10/20
126/126 [==============================] - 0s 2ms/step - loss: 0.3516 - accuracy: 0.8405
Epoch 11/20
126/126 [==============================] - 0s 2ms/step - loss: 0.3428 - accuracy: 0.8501
Epoch 12/20
126/126 [==============================] - 0s 2ms/step - loss: 0.3368 - accuracy: 0.8565
Epoch 13/20
126/126 [==============================] - 0s 2ms/step - loss: 0.3310 - accuracy: 0.8517
Epoch 14/20
126/126 [==============================] - 0s 2ms/step - loss: 0.3301 - accuracy: 0.8453
Epoch 15/20
126/126 [==============================] - 0s 2ms/step - loss: 0.3242 - accuracy: 0.8501
Epoch 16/20
126/126 [==============================] - 0s 2ms/step - loss: 0.3240 - accuracy: 0.8596
Epoch 17/20
126/126 [==============================] - 0s 2ms/step - loss: 0.3198 - accuracy: 0.8724
Epoch 18/20
126/126 [==============================] - 0s 1ms/step - loss: 0.3205 - accuracy: 0.8612
Epoch 19/20
126/126 [==============================] - 0s 1ms/step - loss: 0.3209 - accuracy: 0.8565
Epoch 20/20
126/126 [==============================] - 0s 1ms/step - loss: 0.3158 - accuracy: 0.8612

In [44]:
test_loss, test_accuracy = model.evaluate(test_data)

print('\n\nTest Loss {}, Test Accuracy {}'.format(test_loss, test_accuracy))

53/53 [==============================] - 0s 1ms/step - loss: 0.4649 - accuracy: 0.8371


Test Loss 0.4649224281311035, Test Accuracy 0.8371211886405945

In [45]:
predictions = model.predict(test_data)

# Show some results
for prediction, survived in zip(predictions[:10], list(test_data)[0][1][:10]):
  prediction = tf.sigmoid(prediction).numpy()
  print("Predicted survival: {:.2%}".format(prediction[0]),
        " | Actual outcome: ",
        ("SURVIVED" if bool(survived) else "DIED"))

Predicted survival: 11.88%  | Actual outcome:  DIED
Predicted survival: 99.49%  | Actual outcome:  DIED
Predicted survival: 7.00%  | Actual outcome:  SURVIVED
Predicted survival: 6.71%  | Actual outcome:  DIED
Predicted survival: 99.83%  | Actual outcome:  SURVIVED